<div class="container">
  <ng-container *ngFor="let teamMember of teamMembers">
    <div class="row">
      <app-single-member-title
        [title]="teamMember.attributes.title">
      </app-single-member-title>
    </div>
    <div class="row">
      <app-single-member-card
        [imageUrl]="teamMember.attributes.memberCards.first.imageUrl"
        [data]="teamMember.attributes.memberCards.first.block">
      </app-single-member-card>
      <app-single-member-card
        [imageUrl]="teamMember.attributes.memberCards.second.imageUrl"
        [data]="teamMember.attributes.memberCards.second.block">
      </app-single-member-card>
      <app-single-member-card
        [imageUrl]="teamMember.attributes.memberCards.third.imageUrl"
        [data]="teamMember.attributes.memberCards.third.block">
      </app-single-member-card>
    </div>
  </ng-container>
</div>
