<div class="card">
  <div class="card__crop">
    <img src="{{imageUrl?.w200}}" alt="{{data?.title}}">
  </div>
  <div class="card__box">
    <h2 class="card__title--dark-gray">{{data?.title}}</h2>
    <p class="card__description--gray">{{data?.description}}</p>
    <a class="card__link" href="mailto:{{data?.link}}">{{data?.link}}</a>
    <a class="card__link card__link--gray" href="tel:{{data?.text}}">{{data?.text}}</a>
  </div>
</div>
