@import "~src/assets/styles/colors";

.card {
  &__crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  &__box {
    margin: 15px;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
  }

  &__title,
  &__description,
  &__link {
    display: block;
    margin-bottom: 10px;

    &--gray {
      color: $gray;
    }

    &--dark-gray {
      color: $dark-gray;
    }
  }
}
